nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    gap: 20px;
    background-color: rgb(34, 70, 100);
    width: 100vw;
    gap: 40px;
    font-size: 1.5rem;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid white;
}
nav>a{
    text-decoration: none;
    color: white;
}